<p id="notice"><%= notice %></p>

<p>
  <strong>Support request:</strong>
  <%= @comment.support_request_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @comment.from %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
