<h1>Listing support_requests</h1>

<table>
  <thead>
    <tr>
      <th>Updated</th>
      <th>Domain</th>
      <th>Customer email</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Balance due</th>
      <th>Paid</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @support_requests.each do |support_request| %>
      <tr>
        <td><%= support_request.updated_at %></td>
        <td><%= support_request.domain %></td>
        <td><%= support_request.customer_email %></td>
        <td><%= support_request.name %></td>
        <td><%= support_request.phone %></td>
        <td><%= support_request.balance_due %></td>
        <td><%= support_request.paid %></td>
        <td><%= link_to 'View', support_request, class: 'button' %></td>
        <td><%= link_to 'Delete', support_request, method: :delete, data: { confirm: 'Are you sure?' } , class: 'button alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Support request', new_support_request_path %>
