
<% if !@support_request.balance_due.blank? and !@support_request.paid? %>
    <div style="float: right;">
      <h2>You have a balance due of: <%= @support_request.balance_due %></h2>
      <%= render 'paypal_payment' %>

    </div>
<% elsif @support_request.paid? %>
    <div style="float: right;">
      <h2>Hey! Thanks for paying!</h2>
    </div>
<% end %>

<p id="notice"><%= notice %></p>
<p>
  <strong>Domain:</strong>
  <%= @support_request.domain %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @support_request.customer_email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @support_request.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @support_request.phone %>
</p>



<h3>Comments</h3>
<h4>New Comment</h4>
<%= simple_form_for @support_request.comments.build, url: submission_comments_path(@support_request.id) do |f| %>
    <%= f.input :body %>
    <%= f.input :from, as: :hidden, input_html: {value: @support_request.customer_email} %>
    <%= f.input :support_request_id, as: :hidden, input_html: {value: @support_request.id} %>
    <%= f.button :submit %>
<% end %>

<h4>Past Comments</h4>
<table class="table">
  <tr>
    <th width="25%">Envelope</th>
    <th>Body</th>
  </tr>
  <% @support_request.comments.order('id DESC').each do |comment| %>
      <tr>
        <td><%= comment.from %> - <%= comment.created_at.to_s %></td>
        <td><%= comment.body %></td>
      </tr>
  <% end %>

</table>
